* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-sec01 {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-btn {
    width: 100%;
    height: 40%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(0, 131, 238);
    border-radius: 4px;
    margin-bottom: 10px;
}

.container-btn button {

    background-color: blueviolet;
    color: white;
    border: 2px solid #04AA6D;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.container-btn button:hover {
    background-color: #04AA6D;
    color: white;
}



.resultado {
    width: 100%;
    height: 60%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: Impact;
    color: wheat;
    border: 4px solid rgb(0, 131, 238);
    border-radius: 10px;
}

.resultado{
    display: none;
    
}